# Application
APP_NAME=Online Cinema API
APP_ENV=development
DEBUG=true

# Database
POSTGRES_DB=cinema
POSTGRES_USER=cinema
POSTGRES_PASSWORD=cinema
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SMTP
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@cinema.local

ACTIVATION_URL=http://localhost:8000/api/v2/accounts/activate
JWT_SECRET_KEY=replace_with_a_secure_random_secret

PASSWORD_RESET_URL=http://localhost:3000/reset-password
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15